{% extends '/make_trx.html'%}

{% block head %}
    <!--   3.   -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/make_trx.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mining.css') }}" />
    <script defer src="{{ url_for('static', filename='js/mining.js') }}"></script>
{% endblock %}

{% block section3 %}
    <!-- 3. -->
    <div class="base_card mining">
        <h2>3. 트랜젝션 전파</h2>
            <!-- network -->
            <div class="network-box">
                <div class="network">
                </div>
                <div class="mempool-table">
                    <div class="minor-box">
                        <div class="minor">B</div>
                        <div class="mempool">
                            <div class="mempool-txt">
                                trx : Me → A {{amount}} BTC
                            </div>
                        </div>
                    </div>
                    <div class="minor-box">
                        <div class="minor">C</div>
                        <div class="mempool">
                            <div class="mempool-txt">
                                trx : Me → A {{amount}} BTC
                            </div>
                        </div>
                    </div>
                    <div class="minor-box">
                        <div class="minor">D</div>
                        <div class="mempool">
                            <div class="mempool-txt">
                                trx : Me → A {{amount}} BTC
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- button -->
            <form>
                <div class="footer">
                    <button type="button" class="btn btn-brown" data-toggle="modal" data-target="#exampleModalCenter">
                        Transaction 검증
                    </button>
                    <a href="/mining_nonce" class="btn btn-brown" style="margin-top: 5px;">다음</a>
                </div>
            </form>
    </div>
    <!-- Modal Popup -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
             transaction verification:
             {{value}}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block section4 %}
{% endblock %}

{% block section5 %}
{% endblock %}